body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: 'Press Start 2P', cursive;

  background-color: #ADFAF5;
}

.text {
  font-size: 5rem;

}

.text::after {
  content: '';
  padding-left:2rem;
  text-align: center;
  animation: emoji 6s infinite;
}

@keyframes emoji {
  0% {content: '🎮';}
  20% {content: '🐶';}
  40% {content: '🍔';}
  60% {content: '🖥️';}
  80% {content: '🎸';}
  100% {content: '🎮';}
}