body {
  /* height: 100vh; */

  padding: 0;
  margin: 0;
  font-family: sans-serif;

  background-color: #fff;
}

nav {
  display: flex;
  justify-content: flex-end;
  
  padding: 1rem;

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.burger-menu  {
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.menu-items {
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
}

label {
  display: none;
  position: relative;

  height: 5px;
  width: 5px;

  cursor: pointer;
}

input {
  position: absolute;
  left: 0;
  opacity: 0;
}

.selected {
  color: rgb(57, 197, 57);
  font-weight: bold;
}

@media (max-width : 768px) {
  label {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    height: 100%;
    width: 100%;
  }

  nav {
    flex-direction: column;
    border: none;
    width: 100%;
    padding: 0;

  }

  .menu-items {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  .menu-items a {
    gap: 0;
    width: 100%;
    padding: 1rem;

    border-bottom: 1px solid lightgray;
    text-align: center;
  }

  input:checked ~ .menu-items {
    display: flex;
  }
}