body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  padding: 0;


  background-color: #202020;
}

.loader {
  
  width: 90px;
  height: 90px;

  border-radius: 10%;
  background-color: #166EB9;

  animation: loaderAnimation 2s linear infinite;

}

@keyframes loaderAnimation {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  
  50% {
    transform: rotateY(180deg) rotateX(0deg);
  }

  100% {
    transform: rotateY(180deg) rotateX(180deg);
  }
}

